@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body, button {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.quadrado {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}
.game-title {
  color: #35506f;
  font-size: 35px;
}
.jogador,
.vencedor {
  font-size: 30px;
  margin-top: 10px;
  color: #35506f;
}

button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background: #eee;
  cursor: pointer;
  border: none;
  background-color: #35506f;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;
}
